html, body{
  padding: 0;
  margin: 0;
  width: 400px;
  height: 100%;
  border: 0;
  box-shadow: 0 0 10px gray;
}
#main{
  box-shadow: 0 0 10px gray;
  width: 400px;
  height: 100%;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
}
.btn{
  background-color: #FF5C50;
  color: white;
  border: 0;
  margin: 0;
  width: 300px;
  height: 30px;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 0 5px 3px #333;
  font-family: 'Varela Round', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
h2{
  padding: 0 50px;
  color:  #333;
  font-size: 15px;
}
h4{
  display: none;
  padding: 0 30px;
  margin: 10px 0;
  color:  #333;
  font-size: 15px;
  font-style: italic;
  color: olivedrab;
}
.color1{
  color: orange;
  font-size: 32px;
}
.color2{
  color: red;
  font-size: 32px;
}
p.rdy{
  background-color: #333;
  color: whitesmoke;
  font-size: 18px;
  padding: 7px 10px;
}
.warning{
  padding: 10px 30px;
  color: red;
  text-align: center;
}
.info{
  padding: 10px 10px;
  color: #333;
  text-align: center;
}